

        <script src="jquery.isotope.min.js"></script>


        <style>
                html, body {font-size: 12px;}
            .element {
                /*border: 1px solid black;*/
                width: 100px;
                height: 100px;
                overflow: hidden;
                padding: 10px;
            }
            .element.big {
                width: 220px;
                height: 340px;
            }
            .element.bigger {
                width: 340px;
                height: 340px;
            }
            .element.menu {
                width: 220px;
                height: 340px;
            }
                .element .title {
                        font-weight: bold;
                        font-size: 1.1em;
                }
                .element .content {
                    margin-top: 3px;
                    text-align: justify;
                }



            /**** Isotope Filtering ****/

            .isotope-item {
              z-index: 2;
            }

            .isotope-hidden.isotope-item {
              pointer-events: none;
              z-index: 1;
            }

            /**** Isotope CSS3 transitions ****/

            .isotope,
            .isotope .isotope-item {
              -webkit-transition-duration: 0.8s;
                 -moz-transition-duration: 0.8s;
                  -ms-transition-duration: 0.8s;
                   -o-transition-duration: 0.8s;
                      transition-duration: 0.8s;
            }

            .isotope {
              -webkit-transition-property: height, width;
                 -moz-transition-property: height, width;
                  -ms-transition-property: height, width;
                   -o-transition-property: height, width;
                      transition-property: height, width;
            }

            .isotope .isotope-item {
              -webkit-transition-property: -webkit-transform, opacity;
                 -moz-transition-property:    -moz-transform, opacity;
                  -ms-transition-property:     -ms-transform, opacity;
                   -o-transition-property:      -o-transform, opacity;
                      transition-property:         transform, opacity;
            }

            /**** disabling Isotope CSS3 transitions ****/

            .isotope.no-transition,
            .isotope.no-transition .isotope-item,
            .isotope .isotope-item.no-transition {
              -webkit-transition-duration: 0s;
                 -moz-transition-duration: 0s;
                  -ms-transition-duration: 0s;
                   -o-transition-duration: 0s;
                      transition-duration: 0s;
            }

        </style>








        <div class="isotope" style="position: relative; overflow: hidden; height: 360px;" id="container">
            
                  
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal   menu    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            <div style="position: absolute; left: 0px; top: 0px; transform: translate(5px, 5px);" class="element other nonmetal    isotope-item" data-symbol="H" data-category="other">
              <span class="title">Title of prose</span>
              <p class="content">
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                        This is some text. blah blah blah. Nice prose goes in here. THis is a story about someone. They did something. Then something happened and someone showed up. SOmething like that.
                </p>
            </div>
            
                  
            
          </div>



        <script>
            var SeaOfText = function(containerId, elementClass) {
                var _container = $(containerId);
                var _elements = _container.find(elementClass);

                this.init = function() {
                    $(_container).isotope({
                      itemSelector : elementClass,
                      layoutMode : 'masonry',
                      //filter : 'masonry',
                      resizable : true,
                      animationEngine: 'best-available',
                      masonry: {
                        columnWidth: 120
                      }
                    });
                };
                
                this.arrange = function() {
                    $(_container).isotope('reLayout', function() {
                        console.log('Re-laid out.');
                    });
                };

                this.expand = function(_element) {
                    if (_element.closest(containerId).is(_container)) {
                        if (_element.is('.big')) {
                            _container.find(elementClass+'.big, '+elementClass+'.bigger').removeClass('big').removeClass('bigger');
                            _element.addClass('bigger');
                            console.log('Opening the element (bigger).');
                        }
                        else if (_element.is('.bigger')) {
                            // do nothing.
                        }
                        else { // not .big or not .bigger
                            _container.find(elementClass+'.big, '+elementClass+'.bigger').removeClass('big').removeClass('bigger');
                            _element.addClass('big');
                            console.log('Opening the element (big).');
                        }
                        this.arrange();
                    }
                    else {
                        console.log("The ship does not float in this sea.");
                    }
                };

                this.elements = function() {
                    return _elements;
                };
            }

            var sea = new SeaOfText('#container', '.element');


            $(document).ready(function() {
                sea.elements().on('click', function() {
                    var _el = $(this);
                    sea.expand(_el);
                });
            });

            $(window).load(function() {
                console.log("Window loaded.");
                sea.init();
            });

        </script>
