<!DOCTYPE html>
<html>
    <head>
    <title>Geist</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= csrf_meta_tags %>

        <script src="/foundation/js/vendor/custom.modernizr.js"></script>
        <script src="jquery-1.10.2.min.js"></script>
        <script src="jquery.isotope.min.js"></script>
        <link rel="stylesheet" href="/foundation/css/foundation.css">
        <link rel="stylesheet" href="style.css" />
    </head>
    <body id="body">

<%#<div class="fixed">%>
    <nav style="" class="top-bar ">
          <ul class="title-area">
            <!-- Title Area -->
            <li class="name">
              <h1><a href="/">Prosaic</a></h1>
            </li>
            <!-- On mobile: Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
          </ul>

          
        <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="divider"></li>
              <li class=""><a href="/grid.php">Features</a></li>
              <li class="divider"></li>
              <li class=""><a href="/templates.php">Add-ons</a></li>
              <li class="divider"></li>
              <li class=""><a href="/case-jacquelinewest.php">Case Studies</a></li>
              <li class="divider"></li>
              <li class=""><a href="/docs/">Docs</a></li>
              <li class="divider"></li>
              <li class=""><a href="/training.php">Training</a></li>
              <li class="divider"></li>
              <li class="has-form">
                <a id="loginBtn" href="http://foundation.zurb.com/docs" class="button">Login</a>
                <%#<button id="loginBtn">Login</button>%>
              </li>
            </ul>
        </section>
    </nav>
<%#</div>%>



        <%= yield %>





        <div id="myModal" class="reveal-modal small">
            <div class="content">
                <h2>Awesome. I have it.</h2>
                <p class="lead">Your couch.  It is mine.</p>
                <p>Im a cool paragraph that lives inside of an even cooler modal. Wins</p>
            </div>
            <a class="close-reveal-modal">&#215;</a>
        </div>

          <script>
              document.write('<script src=' +
              ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
              '.js><\/script>')
          </script>

          <script src="/foundation/js/foundation.min.js"></script>
          <!--
          <script src="/foundation/js/foundation/foundation.js"></script>
          <script src="/foundation/js/foundation/foundation.reveal.js"></script>
          <script src="/foundation/js/foundation/foundation.tooltips.js"></script>
          <script src="/foundation/js/foundation/foundation.forms.js"></script>
          <script src="/foundation/js/foundation/foundation.alerts.js"></script>
          <script src="/foundation/js/foundation/foundation.clearing.js"></script>
          <script src="/foundation/js/foundation/foundation.cookie.js"></script>
          <script src="/foundation/js/foundation/foundation.dropdown.js"></script>
          <script src="/foundation/js/foundation/foundation.joyride.js"></script>
          <script src="/foundation/js/foundation/foundation.magellan.js"></script>
          <script src="/foundation/js/foundation/foundation.orbit.js"></script>
          <script src="/foundation/js/foundation/foundation.section.js"></script>
          <script src="/foundation/js/foundation/foundation.topbar.js"></script>
          <script src="/foundation/js/foundation/foundation.interchange.js"></script>
          <script src="/foundation/js/foundation/foundation.placeholder.js"></script>
          <script src="/foundation/js/foundation/foundation.abide.js"></script>
          -->

          <script>
            $(document).foundation();
          </script>
        <script src="app.js"></script>
        <script src="ajax.js"></script>
    </body>
</html>
